@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
body {
    background-color: rgb(155, 155, 155);
}
.contain-all {
    display: grid;
    justify-content: center;
    margin-top: 20px;
}
.container {
    max-width: 800px;
    max-height: 600px;
    font-family: 'Chakra Petch', sans-serif;
    display: grid;
    grid-template-columns: 1fr repeat(3, 2fr) 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: solid black 2px;
    background-color: rgb(11, 140, 11);
    }
.title { 
    grid-area: 1 / 2 / 2 / 5; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.reel-one { 
    grid-area: 2 / 2 / 3 / 3; 
    border: solid black 3px;
    background-color: rgb(138, 202, 138);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reel-two { 
    grid-area: 2 / 3 / 3 / 4; 
    border: solid black 3px;
    background-color: rgb(138, 202, 138);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reel-three { 
    grid-area: 2 / 4 / 3 / 5; 
    border: solid black 3px;
    background-color: rgb(138, 202, 138);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.credits { 
    grid-area: 3 / 2 / 4 / 5; 
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bet-10 { 
    grid-area: 4 / 2 / 5 / 3; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/slot-machine-project/slotPic/mario-coin.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
.bet-50 { 
    grid-area: 4 / 3 / 5 / 4; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/slot-machine-project/slotPic/mario-coin.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
.bet-100 { 
    grid-area: 4 / 4 / 5 / 5; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/slot-machine-project/slotPic/mario-coin.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
.add-funds { 
    grid-area: 3 / 5 / 4 / 6; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/slot-machine-project/slotPic/mario-coin.png);
    background-size: 140% 50%;
    background-repeat: no-repeat;
    background-position: center;
}
#funds {
    font-size: 0.9em;
    line-height: 0.9;
}
.status {
    grid-area: 3 / 2 / 4 / 5;
    font-size: larger;
    line-height: 0.9;
    text-align: center;
    opacity: 0.5;
    padding: 10px;
    display: flex;
    justify-content: center;
}
img {
    max-width: 90%;
    max-height: 90%;
    aspect-ratio: 1/1;
}
button {
    background-color: inherit;
    border: none;
    font-size: 1.5em;
}
button:hover {
    font-weight: bold;
    cursor: grab;
}
button:active {
    cursor:grabbing;
}
@media only screen and (max-width: 500px) {
    button {
        font-size: 1em;
    }
    #funds {
        font-size: 0.6em;
    }
}
@media only screen and (max-width: 387px){
    .add-funds {
        background-size: 140% 30%;
    }
    .container {
        grid-template-rows: 1fr 1fr 1fr 0.5fr;
    }
}


.scale-in-ver-bottom {
	-webkit-animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-1-3 16:26:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-ver-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-ver-bottom {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
  }
  @keyframes scale-in-ver-bottom {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
  }
  

